body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background: url("../media/pink_plaid.png");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #fbf5e9;
  text-align: center;
}
footer {
  background-color: #e5d1d0;
  padding: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.intro {
  margin-top: 5px;
}
.heading h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.logo {
  max-width: 600px;
  width: 90%;
  height: auto;
  margin: 0px 0 20px 0;
}
.start-btn {
  padding: 15px 55px;
  font-size: 1.4rem;
  background-color: #b7d8b2;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.start-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(183, 216, 178, 0.6);
}
