body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background: url("../media/pink_plaid.png");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #fbf5e9;
  text-align: center;
}
header {
  padding: 20px;
  background-color: #e9d1d1;
  font-size: 1.5rem;
  font-weight: bold;
}
#nailScreenshot {
  display: inline-block;
  margin-top: 40px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.nail-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.nail {
  width: 50px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 25px 25px 40px 40px;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.decor-item {
  position: absolute;
  font-size: 2rem;
  user-select: none;
  pointer-events: none;
  margin: 10px;
  width: 60px;
}
.btn-download {
  margin: 30px auto;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #b2d6f0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-download:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(178, 214, 240, 0.6);
}
.french-tip-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 6;
  background: none;
}
.french-tip-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2251%22%20height%3D%2222%22%20viewBox%3D%220%200%2051%2022%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url(%23clip0_175_14)%22%3E%3Cpath%20d%3D%22M6.44475e-05%2021.6C6.44475e-05%2021.6%20-1.89993%202.3%2012.5001%200H38.3001C38.3001%200%2050.8001%201.7%2050.4001%2021.6C50.4001%2021.6%2044.0001%204.4%2025.2001%205C6.40007%205.6%206.44475e-05%2021.6%206.44475e-05%2021.6Z%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_175_14%22%3E%3Crect%20width%3D%2250.4%22%20height%3D%2221.6%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E")
    top center / 100% auto no-repeat;
  opacity: 1;
}
.btn-back {
  margin: 30px auto;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #b2d6f0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-back:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(178, 214, 240, 0.6);
}
